<article class="" *ngIf="station">
  <div class="card col-md-6 mx-auto">
    <div class="card-header">
      <agm-map [latitude]=station.geometry.coordinates[1] [longitude]=station.geometry.coordinates[0] [zoom]=16>
        <agm-marker
          [latitude]=station.geometry.coordinates[1]
          [longitude]=station.geometry.coordinates[0]>
        </agm-marker>
      </agm-map>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{station.properties.label}}</h5>
      <div class="row text-center">
        <p class="col-6"><strong>Available Bikes</strong></p>
        <p class="col-6"><strong>Available Places</strong></p>
      </div>
      <div class="row text-center">
        <p class="col-6 text-primary"><strong>{{station.properties.bikes}}</strong></p>
        <p class="col-6">{{station.properties.bike_racks}}</p>
      </div>
      <a routerLink="" class="btn btn-primary float-right">Strona Główna</a>
    </div>
  </div>
</article>
