<article class="col-md-6 col-xl-4 " *ngFor="let station of stations">
  <div class="" routerLink="/map/{{ station.id }}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{station.properties.label}}</h5>
        <div class="row text-center">
          <p class="col-6"><strong>Available Bikes</strong></p>
          <p class="col-6 "><strong>Available Places</strong></p>
        </div>
        <div class="row text-center">
          <p class="col-6 text-primary"><strong>{{ station.properties.bikes }}</strong></p>
          <p class="col-6">{{ station.properties.bike_racks }}</p>
        </div>
      </div>
    </div>
  </div>
</article>

